
<nav class="navbar navbar-expand navbar-dark bg-dark ">

    <div class="side-nav-button p-2 me-3 text-light" (click)="sideNavToggle()">
        <div class="gg-menu"></div>
    </div>

    <a class="navbar-brand px-4" >Header and Sidebar</a>

    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="navbar-item dropdown">
                <a class="nav-link deopdown-toggle"  href="#" role="button" data-bs-toggle="dropdown">Menu 1</a>
                <ul class="dropdown-menu  dropdown-menu-dark">
                    <li class="">
                        <a class="dropdown-item" >Menu 1</a>
                        
                    </li>
                </ul>
            </li>
        </ul>
        
    </div>

</nav>